    <div class="row">
        <div class="col-md-12 mb-2">
            <div class="card h-100">
                <div class="card-header">
                    <h4 class="card-title" style="text-align: center;">Contactos de apoio</h4>

                </div>
                <div class="card-body">
                    <div class="col-md-6 float-left">
                        <address>
                            <strong>Endereço</strong>
                            <br>Namacunde, Estrada Nacional
                            <br>Beverly Hills, CA 90210
                            <br>
                        </address>
                    </div>
                    <div class="col-md-6 float-right">
                        <address>
                            <abbr title="Phone">Telefone:</abbr>
                            (+244) 923-941-682
                            <br>
                            <abbr title="Email">Email:</abbr>
                            <a href="mailto:#">bernardomauila@gmail.com</a>
                        </address>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary"><i class="icon icon-pencil"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
