{% extends 'accounts/home.html' %}

{% load crispy_forms_tags crispy_forms_filters %}

{% block content %}
<div class="col-md-12 mb-5">
    <div class="card h-100">
        <div class="card-header">
            <h4 class="card-title text-center text-muted mt-3">
                {{title}}
            </h4>
        </div>
        <div class="card-bodyr">
            <!-- <div class="row justify-content-center mt-3"> -->
            <form method="post" enctype="multipart/form-data" novalidate="">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        {{ form.comuna|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ form.municipio|as_crispy_field }}
                    </div>
                </div>
                <hr class="my-2">
                <div class="actions float-right">
                    <button type="submit" class="btn btn-success">
                        <span class="icon icon-save"></span> Guardar
                    </button>
                    <a href="{% url 'pedido:listar_comuna' %}" class="btn btn-info">Cancelar</a>
                </div>
            </form>
            <!-- </div> -->
        </div>
    </div>
</div>
{% endblock %}
